{{define "addTopic"}}
<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>YForum - topic/add</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/assets/css/addTopic.css">
        <link rel="stylesheet" href="/assets/css/header.css">
    </head>
    <body>
        <header>
            <a href="/forum/home" id="title">YForum</a>
            <form action="/search" class="search">
                <input type="text" placeholder="Search...">
                <button type="submit">
                    <img src="data:image/svg+xml;utf8,&lt;svg fill=&quot;white&quot; height=&quot;16&quot; viewBox=&quot;0 0 24 24&quot; width=&quot;16&quot; xmlns=&quot;http://www.w3.org/2000/svg&quot;&gt;&lt;path d=&quot;M15.5 14h-.79l-.28-.27A6.471 6.471 0 0016 9.5 6.5 6.5 0 109.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 5L20.49 19l-5-5zm-6 0C8.01 14 6 11.99 6 9.5S8.01 5 10.5 5 15 7.01 15 9.5 12.99 14 10.5 14z&quot;/&gt;&lt;/svg&gt;" alt="">
                </button>

            </form>
            <div class="login">
                {{if eq .Profil.IsConnect true}}
                    <a href="/logout" class="signIn">Logout</a>
                    <a href="/forum/user" class="profil">{{.Profil.Username}}</a>
                {{else}}
                    <a href="/forum/connect" class="signIn">Connect</a>
                    <a href="/forum/user" class="profil">Profil</a>
                {{end}}
            </div>
        </header>
        
        <main>
            <form action="/forum/topic/post_add" method="POST" class="formTopic">
                <label for="name">Name :</label>
                <input type="text" name="name" id="nameInput" placeholder="Name Topic..." required>

                <label for="category_id">Catégorie :</label>
                <select name="category_id" id="category_id" required>
                    {{range .ListTag}}
                        <option value="{{.Id}}">{{.Name}}</option>
                    {{end}}
                </select>

                <button type="submit">Create topic</button>
            </form>
        </main>
        <script src="" async defer></script>
    </body>
</html>
{{end}}